.movie {
    width: 90px;
    max-width: 90px;
    height: 90px;
    max-height: 90px;
    background-color: #3d9970;
    color: white;
    margin: 10px;
    padding: 0;
}

.movie h1 {
    padding: 0;
    margin: 0;

}

#details {
    width: 220px;
    margin: 10px;
    background-color: blue;
    color: white;
    float: left;
}

.selected {
    background-color: #01ff70;
}

#overview {
    width: 120px;
    float: left;
}